.products-page__container {
    max-width: 1000px;
    margin: auto;
}

.products-page__title {
    padding: 20px;
    font-size: 30px;
}

.products-page__filter-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 20px 30px 20px;
    font-size: 20px;
    gap: 10px;
}

.products-page__filter-group {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.products-page__select-button {
    padding: 5px;
}

.products-page__select-button:focus {
    outline: none;
}

@media only screen and (min-width: 500px) {
    .products-page__filter-container {
        flex-direction: row;
        align-items: center;
    }    
}